<!-- /recipes/edit_note -->

<h1>Welcome, <%= Helpers.current_user(session).name %> to Recipe Box</h1>

<h3>Edit Note: Recipe <%= @recipe.name %> </h3>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<!-- Link to Edit Recipe -->
<form action="/recipes/<%= @recipe.slug %>/note" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <% if @note %>
    <p>Note: <textarea name="note[content]" id="note" rows="2" cols="100"><%= @note.content %></textarea></p>
    <input type="hidden" name="note[id]" id="note_id" value="<%= @note.id %>">
  <% else %>
    <p>Note: <textarea name="note[content]" id="note" rows="2" cols="100"></textarea></p>
    <input type="hidden" name="note[id]" id="note_id" value="<%= nil %>">
  <% end %>

  <p><b>Description:</b> <%= @recipe.description %></p>

  <p><b>Prep Time:</b> <%= @recipe.prep_time %>
    <b>Cook Time:</b> <%= @recipe.cook_time %>
    <b>Yield:</b> <%= @recipe.yield %></p>

  <p><b>Categories:</b>
    <% @recipe.categories.each do |category| %>
        <a href="/categories/<%= category.id %>"><%= category.name %></a>
    <%end%>
  </p>

  <table>
    <tr>
      <th> Ingredients </th>
      <th> Qty </th>
      <th> Details </th>
    </tr>
    <% @recipe.ingredients.each do |ingredient| %>
      <tr>
        <td><a href="ingredients/<% ingredient.id %>"><%= ingredient.name %></a></td>
        <td><a href="ingredients/<% ingredient.id %>"><%= ingredient.quantity %></a></td>
        <td><%= ingredient.content %></td>
      </tr>
    <% end %>
  <table>

  <br>

  <table>
    <tr>
      <th> Steps </th>
      <th> Instructions</th>
    </tr>
    <% count=0 %>
    <% @recipe.instructions.each do |instruction| %>
      <% count += 1 %>
      <tr>
        <td><%= count %></td>
        <td><%= instruction.content %></td>
      </tr>
    <% end %>
  <table>

  <br></br>

  <input type="submit" id="submit" value="Save Notes">
</form>


<br></br>

<!-- Return to Index -->
<form action="/recipes" method="get">
  <input type="submit" value="Go Back to Recipes Listing">
</form>
