<!-- /recipes/index -->

<h1>Welcome, <%= Helpers.current_user(session).name %> to Recipe Box</h1>

<h3>Recipes</h3>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<table>
  <tr>
    <th> Recipe Name </th>
    <th> Description </th>
    <th> By </th>
    <th> View </th>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.description %></td>
      <td><%= recipe.user.name %></td>
      <td><a href="/recipes/<%= recipe.slug %>">View</a></td>
    </tr>
  <% end %>
<table>

<br></br>

<!-- Link to Create New Tweet -->
<form action="/recipes/new" method="GET">
  <input type="submit" value="New Recipe">
</form>

<!-- Link to Log Out -->
<form action="/logout" method="GET">
  <input type="submit" id="logout" value="Log Out">
</form>
