<!-- /users/index -->

<h1>Welcome, <%= Helpers.current_user(session).name %> to Recipe Box</h1>

<h3> Recipes Listing by Users</h3>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<table>
  <tr>
    <th> User Name </th>
    <th> Recipes Contributed </th>
    <th> View </th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.recipes.count %></td>
      <td><a href="/users/<%= user.slug %>">View</a></td>
    </tr>
  <% end %>
<table>

<br></br>

<!-- Link to View all Users -->
<form action="/users" method="get">
  <input type="submit" id="submit" value="View All Users">
</form>

<!-- Link to Log Out -->
<form action="/logout" method="GET">
  <input type="submit" id="logout" value="Log Out">
</form>
